.cuerpoHaiku {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-style: solid;
  border-top: none;
  border-color: grey;
}

.fotoDePerfil {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  margin-left: 10px;
}

.imagenPrincipal {
  width: 100%;
}

.tituloHaiku {
  font-family: var(--fuente-texto);
  margin-left: 10px;
}

.fotoYTitulo {
  display: flex;
  align-items: center;
}

.icono {
  color: grey;
  margin-right: 10px;
}

.imagenTarjeta {
  position: relative;
}

.haiku {
  position: absolute;
  color: white;
}
